*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: rgb(231, 229, 229);
}

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #012e7b
}

.header_div_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo{
    width: 120px;
    height: 100%;
}

.name{
  color: white;  
  font-size: 30px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    margin-right: 20px;
}

.navlinks a{
    text-decoration: none;
    color:white;
}

.navlinks a:hover{
    color: rgb(238, 235, 49);
    transition: 0.3s;
}

.section_1{
    background: #4a83ec;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 50px;
    gap: 30px;
}

.section_1_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    color: white;
    font-size: 25px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.6;
}

.section_2_article{
display: flex;
flex-direction: row;
align-items: center;
font-size: 25px;
color: black;
gap: 50px;
}

.section_2_aside{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 25px;
    line-height: 2.0;
}

.section_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.table_1{
    width: 100%;
    background-color: white;
    th, td{padding-left: 20px; padding-right: 20px;}
    border-radius: 20px;
    overflow: hidden;
    line-height: 2.5;
}

.table_1_head {
    background-color: #012e7b;
    color: white;
    text-align: left;
}

.progress-container {
  width: fit-content;
  border: 2px solid #012e7b;
  border-radius: 10px;
  background-color: white;
}

.progress-bar {
  height: 25px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.section_3_article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 80px;
}

.list{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    list-style-position: inside;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    line-height: 2;
}