*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: rgb(231, 229, 229);
}

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #012e7b
}

.header_div_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo{
    width: 120px;
    height: 100%;
}

.name{
  color: white;  
  font-size: 30px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    margin-right: 20px;
}

.navlinks a{
    text-decoration: none;
    color:white;
}

.navlinks a:hover{
    color: rgb(238, 235, 49);
    transition: 0.3s;
}

.section_1{
    background: #4a83ec;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 50px;
    gap: 30px;
}

.section_1_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    color: white;
    font-size: 25px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.6;
}

.section_2_article{
display: flex;
flex-direction: row;
align-items: center;
font-size: 25px;
color: black;
gap: 50px;
}

.section_2_aside{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 25px;
    line-height: 2.0;
}